.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.features-list {
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features-list__item {
  /* height: 101px; */

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    width: 25%;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  // width: 270px;
  background-color: var(--accent-color-icon);
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  color: var(--title-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
