.footer-form {
  position: relative;
  margin-left: 93px;

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    // padding-left: 15px;
    // padding-right: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    // padding-left: 15px;
    // padding-right: 15px;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.footer-form__wraper {
  display: flex;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;

    text-align: center;
    // margin-left: 15px;
    // margin-right: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;
  }
}

.footer-form__input {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 16px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;

    align-items: center;

    text-align: center;

    width: 100%;

    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;

    text-align: center;

    max-width: 100%;
  }
}

.footer-button-mailing {
  box-sizing: border-box;
  padding-left: 29px;
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    max-width: 200px;
    display: block;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;

    align-items: center;

    text-align: center;

    margin-top: 30px;

    max-width: 100%;
  }
}

.footer-button-mailing__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;

  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primary-title-color);
}

.footer-button-mailing__icon {
  margin-left: 10px;

  @media screen and (max-width: 767px) {
  }
}
