.filter__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: var(--title-text-color);
  background: #f5f4fa;

  padding: 6px 22px 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn--active:active {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;

  background-color: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn--hover {
  &:hover,
  &:focus {
    color: #ffffff;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
  }
}

.filter__btn--current {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    display: flex;

    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }
}

.filter__text {
  padding: 6px 22px 6px 22px;
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

/* portfolio works list */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  display: flex;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-right: 25px;
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 30px;
  }

  &:nth-child(3n + 3) {
    margin-right: 0px;
  }
}

.works-text--wrapper {
  display: flex;
  flex-direction: column;

  padding: 20px 24px;
}

.works-text__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  margin-bottom: 4px;

  color: var(--title-text-color);
}
.works-text__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.works.gallery-box {
  position: relative;
}

.works-overlay--wrapper {
  position: relative;

  /* transform: translateX(-100%);
  transition: transform 250ms ease; */
  /* width: 370px;
  height: 294px; */
  overflow: hidden;
}

.works-overlay__text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;

  padding: 63px 24px;

  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.works__link {
  &:hover .works-overlay__text,
  &:focus .works-overlay__text {
    transform: translateY(0%);
  }
}

.works__border {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
