.team {
  background-color: var(--team-bg-color);
  // max-width: 460px;
}

.team-section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: var(--title-text-color);
}

.team-list__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;

  margin-bottom: 10px;

  color: var(--title-text-color);
}

.team-list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-bottom: 16px;
}

// .team .list {
//   display: flex;
//   justify-content: space-between;
//   /* min-width: 270px; */
// }

.team-list {
  @media screen and (max-width: 767px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-right: 0px;
    }
    display: block;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;

    max-width: 450px;
    height: 622px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 354px;
    height: 536px;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.team-list--card {
  justify-content: center;
  flex-direction: column;

  background-color: var(--team-cards-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  /* min-width: 270px; */
  /* max-height: 368px; */

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 354px;
    height: 510px;
    align-items: center;
  }
}

.team-list__wrapper {
  padding: 30px 32px;
}

.team-social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  /* padding-left: 32px; */
  /* padding-top: 16px; */

  & .team-social__item:not(:last-child) {
    margin-right: 10px;
  }
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-title-color);
  }
}

.team-social--icons-bg {
  --color5: currentColor;
}
