@media screen and (min-width: $mobile) {
  .container {
    min-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    min-width: 1170px;
  }
}
